#mainSceneFXML {
    -fx-background-color: linear-gradient(to bottom, rgb(173,216,230), rgb(0,0,139));
}
#banner{
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 10,0.5,-5,+5);
}
.jfx-rippler {
    -jfx-rippler-fill: #3385ff;
}
#playpause .jfx-rippler {
    -jfx-rippler-fill: #ccf;
}
.jfx-button {
    -fx-background-color: cyan;
}
.transparent-button {
    -fx-background-color: transparent;
}
#playpause {
    -fx-background-color: transparent;
}
.jfx-popup-container { /* this is a common style the applies regardless */
    -fx-padding: 0;
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-border-width: 1px;
    -fx-background-insets: -1;
    -fx-border-insets: -1;
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 4,0.3,-3,0);
}
.popup-pane {
    -fx-background-color: cyan;
    -fx-border-color: cyan;
}
.font-for-volume-percent { /* this is a common style the applies regardless */
    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.jfx-slider {
    -jfx-default-thumb: #9999ff;
}
.jfx-slider .thumb {
    -fx-background-color: #9999ff;
}
.jfx-toggle-button {
    -jfx-toggle-color: cyan;
    -jfx-toggle-line-color: #cce0ff;
    -jfx-untoggle-color: #fafafa;
    -jfx-untoggle-line-color: #e6ecff;
}