.custom-effect1 { /* for forward and backward */
    -jfx-button-type: RAISED;
    -fx-background-color: cyan;
}
#banner{
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 10,0.5,-5,+5);
}
.custom-button {
    -fx-background-color: cyan;
}
.jfx-popup-container {
    -fx-padding: 0;
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-border-width: 1px;
    -fx-background-insets: -1;
    -fx-border-insets: -1;
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 4,0.3,-3,0);
}
.font-for-volume-percent {
    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
