#back {
    -fx-background-color: cyan;
}

.round-button {
	-fx-background-radius: 50;
	-fx-padding: 10;
	-fx-pref-width: 54;
	-fx-pref-height: 54;
}
#miniBanner {
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 10,0.5,-5,+5);
}
.custom-button {
    -fx-background-color: cyan;
}
.jfx-combo-box {
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-control-inner-background: #b3d9ff;
}
.jfx-combo-box .text {
    -fx-fill: #000000;
}
.jfx-combo-box .arrow {
    -fx-background-color: black;
}
.custom-cell {
    -fx-spacing: 10px;
}