@font-face {
    font-family: "Poppins Bold";
    src: url("../../../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../../../fonts/Poppins-Regular.ttf");
}

#miniTitle {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
}

#miniArtist {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
}

#playlistSceneFXML {
    -fx-background-color: linear-gradient(to bottom, rgb(173,216,230), rgb(0,0,139));
}
#miniAnchor {
    -fx-background-color: linear-gradient(to right, rgb(173,216,230), rgb(0,0,139));
    -fx-border-color: white;
}
.jfx-rippler {
    -jfx-rippler-fill: #3385ff;
}
#miniplaypause .jfx-rippler {
    -jfx-rippler-fill: #006;
}
.jfx-button {
    -fx-text-fill: black;
    -fx-background-color: cyan;
}
.transparent-button {
    -fx-background-color: transparent;
}
#miniplaypause {
    -fx-background-color: transparent;
	-fx-background-radius: 50;
	-fx-padding: 10;
	-fx-pref-width: 54;
	-fx-pref-height: 54;
}
#miniBanner {
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 10,0.5,-5,+5);
}
.jfx-combo-box {
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-control-inner-background: #b3d9ff;
}
.jfx-combo-box .text {
    -fx-fill: #000000;
}
.jfx-combo-box .arrow {
    -fx-background-color: black;
}
.jfx-combo-box .list-cell:hover {
    -fx-background-color: #007a99;
}
.custom-cell {
    -fx-spacing: 10px;
}
.custom-button-for-change-album-art {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.custom-button-for-change-album-art:hover {
    -fx-cursor: hand;
}
.save {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #9999ff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #9999ff;
    -fx-text-fill: white;
}
.save:hover {
    -fx-border-color: blue;
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.cancel {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ff9999;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #ff9999;
    -fx-text-fill: white;
}
.cancel:hover {
    -fx-border-color: #b30000;
    -fx-background-color: #b30000;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#listView {
    -fx-background-color: #f2f2f2;
}
#listView .list-cell:selected {
    -fx-background: #b3d9ff;
    -fx-border-color: #004d4d;
}