#playlistSceneFXML {
    -fx-background-color: linear-gradient(to bottom, rgb(173,216,230), rgb(0,0,139));
}
#miniAnchor {
    -fx-background-color: linear-gradient(to right, rgb(173,216,230), rgb(0,0,139));
    -fx-border-color: white;
}
.jfx-rippler {
    -jfx-rippler-fill: #3385ff;
}
#miniplaypause .jfx-rippler {
    -jfx-rippler-fill: #006;
}
.jfx-button {
    -fx-background-color: cyan;
}
.transparent-button {
    -fx-background-color: transparent;
}
#miniplaypause {
    -fx-background-color: transparent;
	-fx-background-radius: 50;
	-fx-padding: 10;
	-fx-pref-width: 54;
	-fx-pref-height: 54;
}
#miniBanner {
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.5), 10,0.5,-5,+5);
}
.jfx-combo-box {
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-control-inner-background: #b3d9ff;
}
.jfx-combo-box .text {
    -fx-fill: #000000;
}
.jfx-combo-box .arrow {
    -fx-background-color: black;
}
.jfx-combo-box .list-cell:hover {
    -fx-background-color: #007a99;
}
.custom-cell {
    -fx-spacing: 10px;
}